.containerDashed {
    border-bottom: 5px dashed #292929;
}

.adminInfosUser {
    border: 1px #515151 solid;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.btn-modifyUser {
    color: #212529;
    width: 235px;
    border-radius: 3px;
    background: #007bff;
    background: -webkit-linear-gradient(top, #40bbff, #007bff);
    background: -o-linear-gradient(top, #40bbff, #007bff);
    background: -moz-linear-gradient(top, #40bbff, #007bff);
    background: linear-gradient(to bottom, #40bbff, #007bff);
    border: 1px SOLID #0084af;
}

.btn-modifyUserWarning {
    color: #212529;
    width: 235px;
    border-radius: 3px;
    background: #ffcc66;
    background: -webkit-linear-gradient(top, #f7e47e, #ffcc66);
    background: -o-linear-gradient(top, #f7e47e, #ffcc66);
    background: -moz-linear-gradient(top, #f7e47e, #ffcc66);
    background: linear-gradient(to bottom, #f7e47e, #ffcc66);
    border: 1px SOLID #dfac46;
}

.btn-modifyUser:hover , .btn-modifyUserWarning:hover {
    opacity: 0.75;
}

.retour-listMember {
    color: #212529;
}

.retour-listMember:hover {
    color: #007bff;
}