.tabLargeScreen {
  display: block;
}

.tabMobile {
  display: none;
}

.btn-newArt {
  color: #212529;
  width: 200px;
  border-radius: 3px;
  background: #007bff;
  background: -webkit-linear-gradient(top, #40bbff, #007bff);
  background: -o-linear-gradient(top, #40bbff, #007bff);
  background: -moz-linear-gradient(top, #40bbff, #007bff);
  background: -webkit-gradient(top, #40bbff, #007bff);
  background: -ms-linear-gradient(top, #40bbff, #007bff);
  border: 1px SOLID #0084af;
}

.btn-newArt:hover {
  opacity: 0.75;
}

.paginationLink,
.linkManagement,
.retour-listArticles { color: #212529; }

.paginationLink {
  font-size: 25px;
}

.paginationLink:hover,
.retour-listArticles:hover { color: #fff; }

.linkManagement:hover {
  color: #007bff;
}

.fondAdmin {
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: -webkit-gradient(45deg, #4158d0, #c850c0);
  background: -ms-linear-gradient(45deg, #4158d0, #c850c0);
}

.disabled {
  display: none;
}

@media (max-width: 768px) {
  .tabLargeScreen { display: none; }
\n
  .tabMobile { display: block; }
}