h3 {
    font-size: 2rem !important;
}

.containerDashed {
    border-bottom: 5px dashed #292929;
}

.btn-createArt {
    color: #212529 !important;
    width: 174px !important;
    border-radius: 3px;
    background: #007bff !important;
    background: -webkit-linear-gradient(top, #40BBFF, #007bff) !important;
    background: -o-linear-gradient(top, #40BBFF, #007bff) !important;
    background: -moz-linear-gradient(top, #40BBFF, #007bff) !important;
    background: linear-gradient(to bottom, #40BBFF, #007bff) !important;
    border: 1px SOLID #0084AF !important;
}

.btn-createArt:hover{
    opacity: 0.75 !important;
}

.retour-listArticle {
    color: #212529 !important;
}

.retour-listArticle:hover {
    color: #007bff !important;
}

@media (max-width: 768px) {
    
    h3 {
        font-size: 1.5rem !important;
    }

    .btnCenterNewArticle {
        text-align: center;
    }

}