.containerDashed {
  border-bottom: 5px dashed #292929;
}

.btn-modifyArt {
  color: #212529;
  width: 174px;
  border-radius: 3px;
  background: #007bff;
  background: -webkit-linear-gradient(top, #40bbff, #007bff);
  background: -o-linear-gradient(top, #40bbff, #007bff);
  background: -moz-linear-gradient(top, #40bbff, #007bff);
  background: linear-gradient(to bottom, #40bbff, #007bff);
  border: 1px SOLID #0084af;
}

.btn-modifyArt:hover{
  opacity: 0.75;
}

.retour-listArticle {
  color: #212529;
}

.retour-listArticle:hover {
  color: #007bff;
}

.btnCenterDisplayArticle {
  text-align: center;
}

.imgModify {
  width: 50%;
}

.disabled {
  display: none;
}

@media (max-width: 768px) {
  .btnCenterModifyArticle { text-align: center; }
}