.containerDashed {
  border-bottom: 5px dashed #292929;
}

.contListComment {
  padding: 1rem 2rem 0 2rem;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.commentInfos {
  font-size: 15px;
}

.displayComment {
  padding-left: 10px;
}

.retour-compteUser,
.paginationLink,
.displayComment { color: #212529; }

.paginationLink {
  font-size: 25px;
}

.paginationLink:hover,
.retour-compteUser:hover,
.displayComment:hover { color: #007bff; }

.disabled {
  display: none;
}

@media (max-width: 768px) {
  .commentInfos { font-size: 13px; }

  .displayComment { padding-left: 2px; }
}