.retour-listArticle {
    color: #212529 !important;
}

.retour-listArticle:hover {
    color: #007bff !important;
}

.sectionArticle {
    border: 1px #515151 solid !important;
    border-radius: 5px;
}

h4 {
    font-size: 2rem !important;
}

.containerDashed {
    border-bottom: 5px dashed #292929;
}

.contComment {
    background-color: #E7E7E7 !important;
    border-radius: 5px;
}

.img-art {
    width: 45rem !important;
}

.linkValidateComment, .linkRefuseComment {
    color: #515151 !important;
}

.linkValidateComment:hover, .linkRefuseComment:hover {
    color: #007bff !important;
}

.textInfo {
    font-size: 15px;
}

.paginationLink, .articleActive {
    color: #212529 !important;
}

.paginationLink {
    font-size: 25px;
}

.paginationLink:hover, .articleActive:hover {
    color: #007bff !important;
}

.disabled {
    display: none !important;
}

@media (max-width: 768px) {

    h4 {
        font-size: 1.5rem !important;
    }

    .img-art {
        width: 100% !important;
    }

    .contImgMobile{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .textInfo {
        font-size: 13px;
    }

    .linkModifSupp {
        font-size: 13px !important;
    }

    .articleActive {
        font-size: 13px !important;
    }
}