.retour-listArticle {
  color: #212529;
}

.retour-listArticle:hover {
  color: #007bff;
}

.sectionArticle {
  border: 1px #515151 solid;
  border-radius: 5px;
}

.containerDashed {
  border-bottom: 5px dashed #292929;
}

.contComment {
  background-color: #e7e7e7;
  border-radius: 5px;
}

.linkValidateComment,
.linkRefuseComment { color: #515151; }

.linkValidateComment:hover,
.linkRefuseComment:hover { color: #007bff; }

.textInfo {
  font-size: 15px;
}

.paginationLink,
.articleActive { color: #212529; }

.paginationLink {
  font-size: 25px;
}

.paginationLink:hover {
  color: #007bff;
}

.backroundValidate {
  background-color: #48c3ef;
}

.disabled {
  display: none;
}

@media (max-width: 768px) {
  .textInfo { font-size: 13px; }
}
