{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<section class="container col-10 mb-5" id="mentionsLegales">
    <div class="container col-12">
        <div class="row">
            <div class="col-12 mt-3 mb-4 containerDashed text-center">
                <h4 class="font-weight-bold">
                    <span class="ion-minus"></span>MENTIONS LEGALES<span class="ion-minus"></span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="container">
            <div class="row">
                <h5 class="font-weight-bold">Lorem Ipsum</h5>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt semper augue, et tristique urna mattis eu. 
                    Quisque nunc odio, mattis eget urna sit amet, rutrum porttitor urna. Curabitur vestibulum finibus leo, 
                    sagittis maximus odio egestas quis. Praesent sagittis eros augue, sed blandit metus pharetra in. 
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris id justo egestas, 
                    rhoncus nibh in, posuere risus. Etiam vel pellentesque magna. Cras ornare mauris at feugiat fermentum. 
                    Phasellus vel nisi nec neque iaculis pharetra. Suspendisse potenti. Vestibulum consectetur ullamcorper scelerisque. 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vestibulum leo orci, nec elementum quam tincidunt ac.
                    Pellentesque risus ex, bibendum sit amet maximus eu, mattis et eros. Nulla vitae egestas risus. Phasellus lorem tortor, 
                    pharetra eu nisl luctus, tempus molestie lectus.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h5 class="font-weight-bold">Lorem Ipsum</h5>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt semper augue, et tristique urna mattis eu. 
                    Quisque nunc odio, mattis eget urna sit amet, rutrum porttitor urna. Curabitur vestibulum finibus leo, 
                    sagittis maximus odio egestas quis. Praesent sagittis eros augue, sed blandit metus pharetra in. 
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris id justo egestas, 
                    rhoncus nibh in, posuere risus. Etiam vel pellentesque magna. Cras ornare mauris at feugiat fermentum. 
                    Phasellus vel nisi nec neque iaculis pharetra. Suspendisse potenti. Vestibulum consectetur ullamcorper scelerisque. 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vestibulum leo orci, nec elementum quam tincidunt ac.
                    Pellentesque risus ex, bibendum sit amet maximus eu, mattis et eros. Nulla vitae egestas risus. Phasellus lorem tortor, 
                    pharetra eu nisl luctus, tempus molestie lectus.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}